@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Savratika;
  font-weight: normal;
  font-style: normal;
  src: url('/sarvatrika.woff2') format('woff2');
}

@layer base {
  html {
    @apply font-savratika antialiased;
  }
}

@layer utilities {
  .lucky-guy-font {
    font-family: 'Luckiest Guy', cursive;
  }

  .rich-text p {
    @apply mb-3;
  }

  .rich-text h1 {
    @apply font-bold text-4xl mb-5;
  }

  .rich-text ol {
    @apply pl-5;
    @apply mb-10;
  }

  .rich-text li {
    @apply list-disc;
  }
}
